.cart {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: inherit;
    background-color: #00000084;
    cursor: pointer;

    .header {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        .backArrow {
            position: relative;
            top: 7px;
            display: none;
            margin-right: 15px;
        }
    }

    .cartBlock {
        position: fixed;
        top: 0;
        right: -385px;
        display: grid;
        grid-template-rows: 30px 1fr auto;
        gap: 30px;
        width: 385px;
        height: 100%;
        padding: 30px;
        background-color: #FFFFFF;

        h2 {
            display: block;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
        }

        .cartList {
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    .totalBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;

        .totalStroke {
            display: grid;
            grid-template-columns: auto 1fr auto;
            gap: 8px;
            width: 100%;

            &:first-of-type {
                margin-bottom: 19px;
            }

            &:last-of-type {
                margin-bottom: 24px;
            }

            .totalText {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #000000;
            }

            .dots {
                height: 18px;
                border-bottom: 1px dotted #DFDFDF;
            }

            .price {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                color: #000000;
            }
        }

        .buyBtn {
            position: relative;
            width: 100%;
            height: 55px;

            .arrow {
                position: absolute;
                top: 21px;
                right: 33px;
            }
        }
    }
}

.cartBlockActive {
    animation: menuLeft 0.5s forwards;

    @keyframes menuLeft {
        0% {
            right: -375px;
        }

        100% {
            right: 0;
        }
    }
}

.cartActive {
    display: block;
}

@media (max-width: 385px) {
    .cart {
        .header {
            .backArrow {
                display: block;
            }
        }

        .cartBlock {
            width: 100%;
        }
    }
}

@media (max-width: 346px) {
    .cart {
        .totalBlock {
            .buyBtn {
                height: 45px;
                padding-right: 15px;

                .arrow {
                    top: 16px;
                    right: 16px;
                }
            }
        }
    }
}