.catalogCard {
    min-height: 260px;
    padding: 30px 29px 34px;
    border: 1px solid #F3F3F3;
    border-radius: 40px;
    background-color: #FFFFFF;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
        transform: translate(0, -5px);
        transition: 0.3s;
    }

    .imageBlock {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 112px;
        margin-bottom: 16px;
        border-radius: 10px;

        .favoriteBtn {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            border: 1px solid #F2F2F2;
            border-radius: 8px;
            background-color: #00000000;
            cursor: pointer;

            &:hover {
                border: 1px solid #000000;
                transition: 0.5s;
            }

            &:hover .favoriteIcon * {
                fill: #000000;
                transition: 0.5s;
            }

            .favoriteIcon {
                width: 14px;
                height: 12px;
            }

            .favoriteIcon * {
                fill: #ECECEC;
            }

            &Active {
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
                border-radius: 8px;
                background-color: #FEF0F0;
                cursor: pointer;

                &:hover {
                    background-color: #ffcccc;
                    transition: 0.5s;
                }
            }
        }

        img {
            width: auto;
            height: 100%;
        }
    }

    .name {
        width: 100%;
        height: 34px;
        margin-bottom: 14px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
            text-decoration-color: #000000;
            transition: 0.5s;
        }
    }

    .bottomBlock {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;

        .priceBlock {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;

            .priceText {
                margin-bottom: 2px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 11px;
                line-height: 13px;
                text-transform: uppercase;
                color: #BDBDBD;
            }

            .price {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                color: #000000;
            }
        }

        .addBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            border: 1px solid #F2F2F2;
            border-radius: 8px;
            background-color: #00000000;
            cursor: pointer;

            &:hover {
                border: 1px solid #000000;
                transition: 0.5s;
            }

            &:hover .plusIcon * {
                fill: #000000;
                transition: 0.5s;
            }

            &Active {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
                border-radius: 8px;
                background-color: #9DD458;
                cursor: pointer;

                &:hover {
                    background-color: #78c01f;
                    transition: 0.5s;
                }
            }
        }
    }
}